<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <table class="table table-hover">
        <tr>
            <th>이메일</th>
            <td th:text="${member.memberEmail}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td th:text="${member.memberPassword}"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${member.memberName}"></td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td th:text="${member.memberBirth}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="${member.memberMobile}"></td>
        </tr>
        <tr>
            <th>지역</th>
            <td th:text="${member.memberArea}"></td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td th:text="${member.memberNickName}"></td>
        </tr>
        <tr>
            <th>포인트</th>
            <td th:text="${member.memberPoint}"></td>
        </tr>
        <tr>
            <th>가입날짜</th>
            <td th:text="${member.createdAt}"></td>
        </tr>
    </table>
    <button th:onclick="memberPassword_fn([[${member.id}]])">비밀번호 변경하기</button>
    <button th:onclick="memberDelete_fn([[${member.id}]])">탈퇴하기</button>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>

<script th:inline="javascript">
    const memberDelete_fn = (id) => {
        location.href = `/member/delete/${id}`;
    }
    const memberPassword_fn = (id) => {
        location.href = `/member/password/${id}`;
    }
</script>
</html>