<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <div class="container">
    <p th:text="|${session.loginEmail} 님 환영합니다!|"></p>
    <input type="hidden" name="id" th:value="${session.loginId}">
    <input type="hidden" name="id" th:value="${session.loginNickName}">
  </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>