<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <div class="container">
        <table class="table table-hover">

            <!--      private String memberArea;-->
            <!--      private String memberNickName;-->
            <!--      private int memberPoint;-->

            <tr>
                <th>이메일</th>
                <td th:text="${member.memberEmail}"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td th:text="${member.memberPassword}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${member.memberName}"></td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td th:text="${member.memberBirth}"></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td th:text="${member.memberMobile}"></td>
            </tr>
            <tr>
                <th>지역</th>
                <td th:text="${member.memberArea}"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td th:text="${member.memberNickName}"></td>
            </tr>
            <tr>
                <th>포인트</th>
                <td th:text="${member.memberPoint}"></td>
            </tr>
            <tr>
                <th>가입날짜</th>
                <td th:text="${member.createdAt}"></td>
            </tr>
        </table>
        <!--    <button class="button" onclick="member_detail([[${member.id}]])">수정</button>-->
        <!--    <button class="button button-danger" onclick="member_delete([[${member.id}]])">탈퇴</button>-->
    </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>