<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <form>
        <label for="password">현재 비밀번호</label>
        <input type="password" class="form-control" id="password" name="password">
        <label for="newPassword">신규 비밀번호</label>
        <input type="password" class="form-control" name="newPassword" id="newPassword"
               placeholder="영문 소문자와 숫자 조합 4~12가지"><br>
        <p id="password-error" class="error-message"></p>
        <label for="newPassword2">신규 비밀번호 확인</label>
        <input type="password" class="form-control" name="newPassword2" id="newPassword2"
               onblur="checkPassword_fn()"><br>
        <p id="password-match-error" class="error-message"></p>
        <input type="hidden" name="memberId" th:value="${member.id}">
        <input type="hidden" name="memberEmail" th:value="${member.memberEmail}">
        <input type="hidden" name="memberArea" th:value="${member.memberArea}">
        <input type="hidden" name="memberNickName" th:value="${member.memberNickName}">
        <input type="hidden" name="memberName" th:value="${member.memberName}">
        <input type="hidden" name="memberPoint" th:value="${member.memberPoint}">
        <input type="hidden" name="memberMobile" th:value="${member.memberMobile}">
        <input type="hidden" name="memberBirth" th:value="${member.memberBirth}">
        <input type="hidden" name="memberFileAttached" th:value="${member.memberFileAttached}">
        <input type="button" value="비밀번호 변경하기" onclick="passwordUpdate_fn()">
    </form>
</div>

<div th:replace="~{component/footer :: footer}"></div>
<script th:inline="javascript">
    const checkPassword_fn = () => {
        const password = document.getElementById("newPassword").value;
        const password2 = document.getElementById("newPassword2").value;
        const passwordPattern = /^(?=.*[a-z])(?=.*\d)[a-z\d]{4,12}$/;

        const passwordError = document.getElementById("password-error");
        const passwordMatchError = document.getElementById("password-match-error");

        if (!passwordPattern.test(password)) {
            passwordError.textContent = "영문 소문자와 숫자 조합 4~12자리여야 합니다.";
        } else {
            passwordError.textContent = "사용 가능합니다.";
        }

        if (password !== password2) {
            passwordMatchError.textContent = "비밀번호가 일치하지 않습니다.";
        } else {
            passwordMatchError.textContent = "비밀번호가 일치합니다.";
        }
    };
    const passwordUpdate_fn = () => {
        const passDB = [[${member.memberPassword}]]
        const passInput = document.querySelector('[name="password"]').value;
        const password = document.querySelector('[name="newPassword2"]').value;
        const email = document.querySelector('[name="memberEmail"]').value;
        const area = document.querySelector('[name="memberArea"]').value;
        const name = document.querySelector('[name="memberName"]').value;
        const nickName = document.querySelector('[name="memberNickName"]').value;
        const birth = document.querySelector('[name="memberBirth"]').value;
        const point = document.querySelector('[name="memberPoint"]').value;
        const mobile = document.querySelector('[name="memberMobile"]').value;
        const id = document.querySelector('[name="memberId"]').value;
        const fileAttached = document.querySelector('[name="memberFileAttached"]').value;
        if (passDB == passInput) {
            $.ajax({
                method: "post",
                url: "/member/update",
                data: {
                    id: id,
                    memberEmail: email,
                    memberPassword: password,
                    memberMobile: mobile,
                    memberArea: area,
                    memberName: name,
                    memberNickName: nickName,
                    memberBirth: birth,
                    memberPoint: point,
                    memberFileAttached: fileAttached
                }
            }).then(res => {
                alert("정보수정이 완료되었습니다. 로그인화면으로 이동합니다.");
                location.href = "/";
            }).catch(err => {
                alert("정보수정에 실패하였습니다!");
            });
        } else {
            alert("비밀번호가 일치하지 않습니다!");
        }
    }
</script>
</body>
</html>