<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <form id="signup-form" action="/member" method="post">
    <label for="memberEmail">이메일:</label>
    <input type="email" class="form-control" id="memberEmail" name="memberEmail" onblur="checkEmail_fn()"
           placeholder="admin@member.com">
    <p id="checkEmail" style="display: none;"></p>
  </form>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>