<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>회원가입</title>
    <!-- 필요한 CSS 링크 및 스타일을 여기에 추가하세요 -->
    <style>
        .form-container {
            max-width: 600px;
            margin: 0 auto;
        }

        .form-control {
            width: 100%;
            margin-bottom: 10px;
        }

        .error-message {
            color: red;
        }

        .button-container {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <h1>회원가입</h1>
</div>

<div class="form-container">
    <form id="signup-form" action="/member/save" method="post" enctype="multipart/form-data">
        <label for="memberFile">프로필 사진:</label>
        <input type="file" name="memberFile" id="memberFile" class="form-control" multiple>
        <label for="memberEmail">이메일:</label>
        <input type="email" class="form-control" id="memberEmail" name="memberEmail" onblur="checkEmail_fn()"
               placeholder="admin@member.com">
        <p id="checkEmail" style="display: none;"></p>

        <label for="memberPassword">비밀번호:</label>
        <input type="password" class="form-control" name="memberPassword" id="memberPassword"
               placeholder="영문 소문자와 숫자 조합 4~12가지"><br>
        <p id="password-error" class="error-message"></p>

        <label for="memberPassword2">비밀번호 확인:</label>
        <input type="password" class="form-control" name="memberPassword2" id="memberPassword2"
               onblur="checkPassword_fn()"><br>
        <p id="password-match-error" class="error-message"></p>

        <label for="memberName">실명:</label>
        <input type="text" class="form-control" name="memberName" id="memberName" placeholder="실명 입력"> <br>

        <label for="memberBirth">생년월일:</label>
        <input type="text" class="form-control" name="memberBirth" id="memberBirth" placeholder="YYYYMMDD"> <br>

        <label for="memberArea">지역:</label>
        <select class="form-control" name="memberArea" id="memberArea">
            <option value="서울">서울</option>
            <option value="인천">인천</option>
            <option value="경기">경기</option>
            <option value="울산">울산</option>
            <option value="대구">대구</option>
            <option value="부산">부산</option>
            <option value="대전">대전</option>
            <option value="강원">강원</option>
            <option value="제주">제주</option>
        </select>
        <br>
        <label for="memberMobile">휴대폰 번호:</label>
        <input type="text" class="form-control" name="memberMobile" id="memberMobile" onblur="checkMobile_fn()" placeholder="'_'제외하고 숫자만 입력"> <br>
        <p id="checkMobile" style="display: none"></p>

        <label for="memberNickName">닉네임:</label>
        <input type="text" class="form-control" name="memberNickName" id="memberNickName" onblur="checkNickName_fn()" placeholder="닉네임 입력"> <br>
        <p id="checkNickName" style="display: none"></p>

        <div class="error-message" id="error-message"></div>

        <div class="button-container">
            <button type="submit" class="btn btn-primary">회원가입</button>
        </div>
    </form>
</div>

<div th:replace="~{component/footer :: footer}"></div>

<script th:inline="javascript">
    const checkEmail_fn = () => {
        const memberEmail = document.getElementById("memberEmail").value;
        const checkEmail = document.getElementById("checkEmail");
        if (memberEmail.length > 0) {
            $.ajax({
                type: "post",
                url: "/member/checkEmail",
                contentType: "application/json",
                data: JSON.stringify({
                    memberEmail: memberEmail
                }),
                success: function () {
                    checkEmail.innerHTML = "사용 가능한 이메일 입니다.";
                    checkEmail.style.display = "block";
                },
                error: function () {
                    checkEmail.innerHTML = "이미 사용중인 이메일 입니다.";
                    checkEmail.style.display = "block";
                }
            });
        } else {
            checkEmail.style.display = "none";
        }
    };

    const checkMobile_fn = () => {
        const memberMobile = document.getElementById("memberMobile").value;
        const checkMobile = document.getElementById("checkMobile");
        if (memberMobile.length > 0) {
            $.ajax({
                type: "post",
                url: "/member/checkMobile",
                contentType: "application/json",
                data: JSON.stringify({
                    memberMobile: memberMobile
                }),
                success: function (response) {
                    console.log("서버 응답:", response); // 응답을 콘솔에 출력
                    checkMobile.style.display = "none";
                },
                error: function (xhr, status, error) {
                    console.error("에러 발생: ", error);
                    checkMobile.innerHTML = "이미 가입한 전화번호 입니다.";
                    checkMobile.style.display = "block";
                }
            });
        } else {
            checkMobile.style.display = "none";
        }
    };

    const checkNickName_fn = () => {
        const memberNickName = document.getElementById("memberNickName").value;
        const checkNickName = document.getElementById("checkNickName");
        if (memberNickName.length > 0) {
            $.ajax({
                type: "post",
                url: "/member/checkNickName",
                contentType: "application/json",
                data: JSON.stringify({
                    memberNickName: memberNickName
                }),
                success: function (response) {
                    console.log("서버 응답:", response); // 응답을 콘솔에 출력
                    checkNickName.innerHTML = "사용 가능한 닉네임 입니다.";
                    checkNickName.style.display = "block";
                },
                error: function (xhr, status, error) {
                    console.error("에러 발생: ", error);
                    checkNickName.innerHTML = "이미 사용중인 닉에임 입니다.";
                    checkNickName.style.display = "block";
                }
            });
        } else {
            checkNickName.style.display = "none";
        }
    };

    const checkPassword_fn = () => {
        const password = document.getElementById("memberPassword").value;
        const password2 = document.getElementById("memberPassword2").value;
        const passwordPattern = /^(?=.*[a-z])(?=.*\d)[a-z\d]{4,12}$/;

        const passwordError = document.getElementById("password-error");
        const passwordMatchError = document.getElementById("password-match-error");

        if (!passwordPattern.test(password)) {
            passwordError.textContent = "영문 소문자와 숫자 조합 4~12자리여야 합니다.";
        } else {
            passwordError.textContent = "";
        }

        if (password !== password2) {
            passwordMatchError.textContent = "비밀번호가 일치하지 않습니다.";
        } else {
            passwordMatchError.textContent = "";
        }
    };

    document.getElementById("signup-form").onsubmit = function(event) {
        checkPassword_fn(); // 비밀번호 일치 여부 및 조건 검사
        const errorMessage = document.getElementById("error-message");
        const email = document.getElementById("memberEmail").value;
        const password = document.getElementById("memberPassword").value;
        const password2 = document.getElementById("memberPassword2").value;
        const name = document.getElementById("memberName").value;
        const birth = document.getElementById("memberBirth").value;
        const area = document.getElementById("memberArea").value;
        const mobile = document.getElementById("memberMobile").value;
        const nickname = document.getElementById("memberNickName").value;

        if (email === "" || password === "" || password2 === "" || name === "" || birth === "" || area === "" || mobile === "" || nickname === "") {
            errorMessage.textContent = "모든 필드를 입력해주세요.";
            event.preventDefault();
        } else if (password !== password2) {
            errorMessage.textContent = "비밀번호가 일치하지 않습니다.";
            event.preventDefault();
        } else {
            errorMessage.textContent = "";
        }
    };
</script>
</body>
</html>
