<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .modal-content {
            background-color: #ffffff;
        }

        .btn-primary, .btn-secondary, .btn-warning, .btn-danger {
            background-color: #333333;
            border-color: #333333;
        }

        .btn-primary:hover, .btn-secondary:hover, .btn-warning:hover, .btn-danger:hover {
            background-color: #555555;
            border-color: #555555;
        }

        h2, .btn {
            color: #ffffff;
        }

        .container {
            background-color: #ffffff;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #000000;
            padding: 20px;
        }
    </style>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">확인</h5>
            </div>
            <div class="modal-body">
                정말로 신청하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmReq">취소</button>
                <button type="button" class="btn btn-primary" id="confirmBtn">확인</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="findModal">확인</h5>
            </div>
            <div class="modal-body">
                삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteNo">취소</button>
                <button type="button" class="btn btn-primary" id="deleteYes">확인</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <div>
        <h2 th:text="${meetDTO.meetTitle}"></h2>
        <p style="display: none"><span th:value="${meetDTO.id}"></span></p>
        <p>작성자: <span th:text="${meetDTO.meetWriter}"></span></p>
        <p>게시물 종류: <span th:text="${meetDTO.meetKind}"></span></p>
        <p>작성일시: <span th:text="${meetDTO.createdAt}"></span></p>
        <p>조회수: <span th:text="${meetDTO.meetHits}"></span></p>
        <p>첨부 파일 수: <span th:text="${meetDTO.meetFileAttached}"></span></p>

        <!-- 게시물 내용 -->
        <div th:text="${meetDTO.meetContents}"></div>

        <!-- 첨부 파일 목록 -->
        <ul th:if="${meetDTO.meetFile != null}">
            <li th:each="fileName : ${meetDTO.originalFileName}">
                <a th:href="'/download/' + ${fileName}" th:text="${fileName}"></a>
            </li>
        </ul>
    </div>
    <div id="btn-area">
        <button class="btn btn-primary" onclick="list_fn()">목록</button>
        <button th:if="${session.loginNickName == meetDTO.meetWriter}" class="btn btn-warning" onclick="update_req()">
            수정
        </button>
        <button th:if="${session.loginNickName == meetDTO.meetWriter} or ${'admin@icia.com' == session.loginEmail}"
                id="delete"
                class="btn btn-danger">삭제
        </button>
        <button th:if="${session.loginNickName != meetDTO.meetWriter} or ${'admin@icia.com' == session.loginEmail}"
                id="application"
                class="btn btn-danger">참여 신청
        </button>
    </div>
    <div id="pass-check" class="mt-3">

    </div>

    <div th:replace="~{component/footer :: footer}"></div>

</body>
<script th:inline="javascript">
    const update_req = () => {
        const id = [[${meetDTO.id}]];
        location.href = `/meet/update/${id}`;
    }
    $(document).ready(function () {
        // 모달 창 열기
        $("#delete").click(function () {
            $("#deleteModal").modal('show');
        });

        // 확인 버튼 클릭 시
        $("#deleteYes").click(function () {
            // application_req 함수 호출
            delete_req();
            // 모달 창 닫기
            $("#deleteModal").modal('hide');
        });
        // 취소 버튼 클릭 시
        $("#deleteNo").click(function () {
            // 모달 창 닫기
            $("#deleteModal").modal('hide');
        });
    });
    const delete_req = () => {
        const id = [[${meetDTO.id}]];
        location.href = `/meet/delete/${id}`;
    }
    const list_fn = () => {
        location.href = `/meet/list`;
    }
    $(document).ready(function () {
        // 모달 창 열기
        $("#application").click(function () {
            $("#confirmationModal").modal('show');
        });

        // 확인 버튼 클릭 시
        $("#confirmBtn").click(function () {
            // application_req 함수 호출
            application_req();
            // 모달 창 닫기
            $("#confirmationModal").modal('hide');
        });

        $("#confirmReq").click(function () {
            // 모달 창 닫기
            $("#confirmationModal").modal('hide');
        });
    });

    const application_req = () => {
        const applicationWriter = [[${session.loginNickName}]];
        const meetIdDate = [[${meetDTO.id}]];
        const meetName = [[${meetDTO.meetTitle}]];
        const memberIdDate = [[${session.loginId}]]
        axios
        ({
            method: "post",
            url: `/meet/application`,
            data: {
                applicationWriter: applicationWriter,
                meetIdDate: meetIdDate,
                meetName: meetName,
                memberIdDate : memberIdDate
            }
        }).then(res => {
            location.href = `/meet/list`;
        }).catch(err => {
            alert("신청 실패!");
        });
    }
</script>
</html>