<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <h1>게시물 목록</h1>
    <div class="container mt-5 mb-5">
        <div th:if="${not #lists.isEmpty(meetApplicationList)}">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>이미지</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="meetApplicationDTO : ${meetApplicationList}">
                    <td>
                        <a th:href="@{'/meet/' + ${meetApplicationDTO.meetIdDate}}" th:text="${meetApplicationDTO.meetName}"></a>
                    </td>
                    <td>
                        <!--            <img th:src="@{'/download/' + ${boardDTO.originalFileName[0]}}" class="img-thumbnail" alt="이미지">-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{'/meet/list'}" class="btn btn-primary">모임</a>
        <div th:if="${#lists.isEmpty(meetApplicationList)}">
            <p>게시물이 없습니다.</p>
        </div>
    </div>
    <div th:replace="~{component/footer :: footer}"></div>
</body>
</html>