<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="findModal">확인</h5>
      </div>
      <div class="modal-body">
        삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteNo">취소</button>
        <button type="button" class="btn btn-primary" id="deleteYes">확인</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <div>
    <h2 th:text="${boardDTO.boardTitle}"></h2>
    <p style="display: none"><span th:value="${boardDTO.id}"></span> </p>
    <p>작성자: <span th:text="${boardDTO.boardWriter}"></span></p>
    <p>게시물 종류: <span th:text="${boardDTO.boardKind}"></span></p>
    <p>작성일시: <span th:text="${boardDTO.createdAt}"></span></p>
    <p>조회수: <span th:text="${boardDTO.boardHits}"></span></p>
    <p>첨부 파일 수: <span th:text="${boardDTO.boardFileAttached}"></span></p>

    <!-- 게시물 내용 -->
    <div th:text="${boardDTO.boardContents}"></div>

    <!-- 첨부 파일 목록 -->
    <ul th:if="${boardDTO.boardFile != null}">
      <li th:each="fileName : ${boardDTO.originalFileName}">
        <a th:href="'/download/' + ${fileName}" th:text="${fileName}"></a>
      </li>
    </ul>
  </div>
  <div id="btn-area">
    <button class="btn btn-primary" onclick="list_fn()">목록</button>
    <button th:if="${session.loginNickName == boardDTO.boardWriter}" class="btn btn-warning" onclick="update_req()">수정</button>
    <button th:if="${session.loginNickName == boardDTO.boardWriter} or ${'admin' == session.loginEmail}" class="btn btn-danger" id="delete">삭제</button>
  </div>
  <div id="pass-check" class="mt-3">

  </div>
  <div class="row g-2 mt-5" id="comment-write">
    <div class="col">
      <input type="text" id="comment-writer" th:value="${session.loginNickName}" class="form-control" placeholder="작성자" readonly>
    </div>
    <div class="col-9">
      <input type="text" id="comment-contents" class="form-control" placeholder="내용">
    </div>
    <div class="d-grid col">
      <button class="btn btn-dark" onclick="comment_write()">작성</button>
    </div>
  </div>
  <div class="container mt-5" id="comment-list">
    <div th:if="${commentDTO== null}">
      <p>작성된 댓글이 없습니다.</p>
    </div>
    <div th:unless="${commentDTO == null}">
      <table class="table">
        <tr>
          <th>writer</th>
          <th>contents</th>
          <th colspan="3">date</th>
        </tr>
        <tr th:each="comment: ${commentDTO}">
          <td th:text="${comment.commentWriter}"></td>
          <td th:text="${comment.commentContents}"></td>
          <td th:text="${comment.createdAt}"></td>
          <td>
            <i th:if="${comment.isLike == 0}" class="bi bi-suit-heart"
               th:onclick="like_fn([[${comment.id}]])"></i>
            <i th:unless="${comment.isLike == 0}" class="bi bi-suit-heart-fill"
               th:onclick="unlike_fn([[${comment.id}]])"></i>
            <span class="ms-1" th:text="${comment.likeCount}"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
<script th:inline="javascript">
  const comment_list = (commentDTO) => {
    console.log("댓글 목록 함수", commentDTO);
    const resultArea = document.querySelector("#comment-list");
    let output = "        <table class=\"table\">\n" +
            "            <tr>\n" +
            "                <th>writer</th>\n" +
            "                <th>contents</th>\n" +
            "                <th colspan=\"3\">date</th>\n" +
            "            </tr>";
    for (let i in commentDTO) {
      output += "<tr>\n" +
              "                <td>" + commentDTO[i].commentWriter + "</td>\n" +
              "                <td>" + commentDTO[i].commentContents + "</td>\n" +
              "                <td>" + commentDTO[i].create + "</td>\n";
      if (commentDTO[i].isLike == 0) {
        output += "<td>" + "<i class=\"bi bi-suit-heart\" onclick=\"like_fn('" + commentDTO[i].id + "')\"></i>";
      } else {
        output += "<td>" + "<i class=\"bi bi-suit-heart-fill\" onclick=\"unlike_fn('" + commentDTO[i].id + "')\"></i>";
      }
      output += "<span class='ms-1'>" + commentDTO[i].likeCount + "</span>";
      output += "</td></tr>";
    }
    output += "</table>";
    resultArea.innerHTML = output;
  }

  const comment_write = () => {
    const writer = document.querySelector("#comment-writer").value;
    const contents = document.querySelector("#comment-contents").value;
    const boardId = [[${boardDTO.id}]];
    axios({
      method: "post",
      url: "/comment/save",
      data: {
        commentWriter: writer,
        commentContents: contents,
        boardId: boardId
      }
    }).then(res => {
      console.log("res", res);
      console.log("댓글 목록", res.data);
      document.querySelector("#comment-writer").value = "";
      document.querySelector("#comment-contents").value = "";
      comment_list(res.data);
    }).catch(err => {
      console.log("err", err);
    });
  }

  const unlike_fn = (commentId) => {
    const memberId = [[${session.loginId}]];
    const boardId = [[${boardDTO.id}]];
    axios({
      method: "post",
      url: "/comment/unlike",
      data: {
        memberId: memberId,
        commentId: commentId,
        boardId: boardId
      }
    }).then(res => {
      comment_list(res.data);
    }).catch(err => {
      console.log("unlike 실패");
    });
  }

  const like_fn = (commentId) => {
    const memberId = [[${session.loginId}]];
    const boardId = [[${boardDTO.id}]];
    axios({
      method: "post",
      url: "/comment/like",
      data: {
        memberId: memberId,
        commentId: commentId,
        boardId: boardId
      }
    }).then(res => {
      console.log("res.data: ", res.data);
      comment_list(res.data);
    }).catch(err => {
      console.log("unlike 실패");
    });
  }
  const update_req = () => {
    const id = [[${boardDTO.id}]];
    location.href = `/board/update/${id}`;
  }
  $(document).ready(function() {
    // 모달 창 열기
    $("#delete").click(function() {
      $("#deleteModal").modal('show');
    });

    // 확인 버튼 클릭 시
    $("#deleteYes").click(function() {
      // application_req 함수 호출
      delete_req();
      // 모달 창 닫기
      $("#deleteModal").modal('hide');
    });
    // 취소 버튼 클릭 시
    $("#deleteNo").click(function() {
      // 모달 창 닫기
      $("#deleteModal").modal('hide');
    });
  });
  const delete_req = () => {
    const id = [[${boardDTO.id}]];
    location.href = `/board/delete/${id}`;
  }
  const list_fn = () => {
    location.href = `/board/list`;
  }
</script>
</html>