<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="nav-container" th:fragment="nav">
        <style>

        </style>
        </head>
<body>
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link home" href="#">친목친목</a>
            <a class="nav-link" href="/board/list">게시판</a>
            <a class="nav-link" href="/meet/list">모임</a>
        </div>
        <div class="navbar-nav">
            <div class="btn" id="login-meet"></div>
            <div class="btn" id="login-main"></div>
            <a class="btn" href="/member/logout">로그아웃</a>
        </div>
    </div>
</nav>
<script th:inline="javascript">
    const loginMain = document.getElementById("login-main");
    const loginMeet = document.getElementById("login-meet");
    const loginEmail = [[${session.loginEmail}]];
    const id = [[${session.loginId}]];
    if (loginEmail == 'admin@icia.com') {
        // 로그인 했음
        loginMain.innerHTML = "<a href='/member/list' class='btn btn-outline-light'><i class='fas fa-sign-out-alt'></i>회원목록</a>";
    } else {
        // 로그인 안했음
        loginMeet.innerHTML = "<a href='/meet/application/list' class='btn btn-outline-light'><i class='fas fa-sign-in-alt'></i>모임 이력</a>";
        loginMain.innerHTML = "<a href='/member/detail' class='btn btn-outline-light'><i class='fas fa-sign-in-alt'></i>마이페이지</a>";
    }
</script>
</div>
</body>


</html>
